
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>About Us</h2>

<div class="intro" style="margin-top:20px">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="intro_title text-center">About Us</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="intro_text text-center">
                    <p>BookAway is an Indian online travel agency for lodging reservations & other travel products </p>
                </div>
            </div>
        </div>
        <div class="row intro_items">

            <!-- Intro Item -->

            <div class="col-lg-4 intro_col">
                <div class="intro_item">
                    <div class="intro_item_overlay"></div>
                    <!-- Image by https://unsplash.com/dnevozhai -->
                    <div class="intro_item_background" style="background-image:url(images/intro_1.jpg)"></div>
                    <div class="intro_item_content d-flex flex-column align-items-center justify-content-center">


                        <div class="intro_center text-center">
                            <h1>Our Ratings</h1>

                            <div class="rating rating_4">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Intro Item -->

            <div class="col-lg-4 intro_col">
                <div class="intro_item">
                    <div class="intro_item_overlay"></div>
                    <!-- Image by https://unsplash.com/hellolightbulb -->
                    <div class="intro_item_background" style="background-image:url(images/intro_2.jpg)"></div>
                    <div class="intro_item_content d-flex flex-column align-items-center justify-content-center">

                        <div class="intro_center text-center">
                            <h1>Over 100 happy customers</h1>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Intro Item -->

            <div class="col-lg-4 intro_col">
                <div class="intro_item">
                    <div class="intro_item_overlay"></div>
                    <!-- Image by https://unsplash.com/hellolightbulb -->
                    <div class="intro_item_background" style="background-image:url(images/intro_2.jpg)"></div>
                    <div class="intro_item_content d-flex flex-column align-items-center justify-content-center">

                        <div class="intro_center text-center">
                            <h1>Most trusted</h1>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>